* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding:  0px 0px 0px 120px;
}

.welcome-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 210px;
}

.welcome-text {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titulo-img{
    width: 57vh;
}

.welcome-text h1 {
    font-size: 2.8rem;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.2;
}

.welcome-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #ffffff;;
    margin-bottom: 30px;
}

.btn-explore {
    display: inline-block;
    padding: 12px 24px;
    background-color: #e6b2a6;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 1rem;
}

.btn-explore:hover {
    background-color: #e79b9b;
}

.welcome-image{
    display: flex;
    justify-content: flex-end;
}

.welcome-image img {
    width: 52vw;
    height: 98vh;

}

