<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Saúde Diária</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="welcome-section">
            <div class="welcome-text">
                <h1>Bem-vindo(a) ao Saúde Diária!</h1>
                <p>
                    Nosso objetivo é ajudar você a registrar e monitorar seus hábitos diários de saúde, 
                    incluindo exercícios, refeições e sono. Com gráficos interativos e relatórios personalizados, 
                    você poderá acompanhar sua evolução e tomar decisões informadas para uma vida mais saudável.
                </p>
                <a href="/crud" class="btn-explore">Explore o Projeto</a>
            </div>
        </div>
    </div>
</body>
</html>
